venv/
node_modules/
dist/
.env
__pycache__/
*.py[cod]
saved_paintings/
recordings/venv/
node_modules/
dist/
.env
__pycache__/
*.py[cod]
saved_paintings/
recordings/node_modules/
dist/
.env
venv/
__pycache__/
*.py[cod]
saved_paintings/
recordings/
